[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-image = "*"
scikit-learn = "*"
ipython = "*"
pandas = "*"
opencv = "*"
opencv3 = "*"
opencv2 = "*"
cv2 = "*"

[requires]
python_version = "3.7"
